<div class="row">
  <div class="card card-primary card-outline col-md-12">
    <div class="card-header">Artifacts</div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3">
          <div class="small-box bg-olive">
            <div class="inner">
              <h3>5</h3>
              <h4>Projects</h4>
            </div>
            <div class="icon text-light">
              <i class="fas fa-briefcase"></i>
            </div>
            <a href="# " class="small-box-footer"
              >Open Now <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="small-box bg-indigo">
            <div class="inner">
              <h3>52</h3>

              <h4>Rules</h4>
            </div>
            <div class="icon text-light">
              <i class="fas fa-bolt"></i>
            </div>
            <a href="# " class="small-box-footer"
              >Browse <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="small-box bg-purple">
            <div class="inner">
              <h3>3</h3>

              <h4>Workflows</h4>
            </div>
            <div class="icon text-light">
              <i class="fas fa-project-diagram"></i>
            </div>
            <a href="# " class="small-box-footer"
              >Browse <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="small-box bg-maroon">
            <div class="inner">
              <h3>30</h3>

              <h4>Data Models</h4>
            </div>
            <div class="icon text-light">
              <i class="fas fa-database"></i>
            </div>
            <a href="# " class="small-box-footer"
              >Explore <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

 
    <div class="card card-primary card-outline col-md-12">
      <div class="card-header">Deployments</div>
      <div class="card-body">
        <div class="card bg-light d-flex flex-fill col-md-2">
            <div class="card-header text-muted border-bottom-0">
              Digital Strategist
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col-7">
                  <h2 class="lead"><b>Nicole Pearson</b></h2>
                  <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                  <ul class="ml-4 mb-0 fa-ul text-muted">
                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                  </ul>
                </div>
                <div class="col-5 text-center">
                   <div class="img-circle img-fluid"> 
                    <i class="fas fa-user fa-3x"></i>
                   </div> 
                  
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-right">
                <a href="#" class="btn btn-sm bg-teal">
                  <i class="fas fa-comments"></i>
                </a>
                <a href="#" class="btn btn-sm btn-primary">
                  <i class="fas fa-user"></i> View Profile
                </a>
              </div>
            </div>
          </div>
      </div>
      
    </div>


  <!-- <div class="col-lg-4">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h5 class="m-0">Recent Endpoints</h5>
      </div>
      <div class="card-body">
        <h4 class="card-title">Invoice Format Service</h4>
        <p class="card-text">
          Invoice formatting service - Author : Arun Hariharan
        </p>
        <a href="# " class="btn btn-primary">Explore Docs</a>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h5 class="m-0">Rule Execution Summary</h5>
      </div>
      <div class="card-body">
        <table datatable class="table row-border hover">
          <thead>
            <tr>
              <th>Service Name</th>
              <th>Endpoint URL</th>
              <th>Execution Count</th>
              <th>Error Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rec of data">
              <td>
                <b>{{ rec.serviceName }}</b>
              </td>
              <td>{{ rec.endpoint }}</td>
              <td>{{ rec.executionCount }}</td>
              <td class="text-red">{{ rec.errorCount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
</div>
